/* Genel stil ayarları */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Sayfa ve bileşenler arasındaki boşlukları kontrol eden genel ayarlar */
button {
  cursor: pointer;
}

input,
textarea {
  font-size: 1em;
}

/* Özel stil ayarları */
.home-page,
.goals-page,
.create-goal-page,
.edit-goal-page,
.goal-detail-page {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
